<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rest Api AMFOCDE</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="navigation">
			<ul>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="happy-outline"></ion-icon></span>
						<span class="title">AMFCODE</span>
					</a>
				</li>
				<li>
					<hr>
					<a href="#">
						<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
						<span class="title">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="call-outline"></ion-icon></span>
						<span class="title">Contact</span>
					</a>
				</li>
				<li>
					<a href="/api/regapi?key=APIKEY">
						<span class="icon"><ion-icon name="key-outline"></ion-icon></span>
						<span class="title">Register API</span>
					</a>
				</li>
				<li>
					<a href="/api/cekapikey?apikey=APIKEY">
						<span class="icon"><ion-icon name="key-outline"></ion-icon></span>
						<span class="title">Cek API</span>
					</a>
				</li>
				<hr>
				<li>
					<a href="social-media.html">
						<span class="icon"><ion-icon name="logo-instagram"></ion-icon></span>
						<span class="title">Sosial Media</span>
					</a>
				</li>
				<li>
					<a href="downloader.html">
						<span class="icon"><ion-icon name="cloud-download-outline"></ion-icon></span>
						<span class="title">Downloader</span>
					</a>
				</li>
				<li>
					<a href="game.html">
						<span class="icon"><ion-icon name="game-controller-outline"></ion-icon></ion-icon></span>
						<span class="title">Game</span>
					</a>
				</li>
			</ul>
		</div>

		<!-- Main -->
		<div class="main">
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<!-- Search -->
				<div class="search">
					<label>
						<input type="text" placeholder="Search Here">
						<ion-icon name="search-outline"></ion-icon>
					</label>
				</div>
				<!-- UserImg -->
				<div class="user">
					<img src="https://arimaulanafirmansyah.github.io/uploads/amfcode.gif">
				</div>
			</div>

			<!-- cards -->
			<div class="cardBox">
				<div class="card">
					<div class="numbers" id="visit"></div>
					<div class="cardName">Daily Views</div>
					<div class="iconBx">
						<ion-icon name="eye-outline"></ion-icon>
					</div>
				</div>
				<div class="card">
					<div class="numbers" id="jam"></div>
					<div class="cardName">Date</div>
					<div class="iconBx">
						<ion-icon name="calendar-outline"></ion-icon>
					</div>
				</div>
				<div class="card">
					<div class="numbers" id="ip"></div>
					<div class="cardName">Ip Address</div>
					<div class="iconBx">
						<ion-icon name="globe-outline"></ion-icon>
					</div>
				</div>
			</div>
			<!-- Detail -->
			<div class="details">
				<div class="recentText">
					<div class="cardHeader">
					<h2>GAME API</h2>
					<a href="#" class="btn">View All</a>
					</div>
					<table>
                <a href="/api/game/ml?apikey=APIKEY&id=89867767&userid=2181"><li>Mobile Legends</li></a>
                <a href="/api/game/ff?apikey=APIKEY&id=470742510"><li>Free Fire</li></a>
                <a href="/api/game/hdi?apikey=APIKEY&id=79678285"><li>Higgs Domino Island</li></a>
					</table>
				</div>
			</div>

		</div>
	</div>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script>
		let toggle = document.querySelector('.toggle');
		let navigation = document.querySelector('.navigation');
		let main = document.querySelector('.main');

		toggle.onclick = function(){
			navigation.classList.toggle('amfcode');
			main.classList.toggle('amfcode');
		}


		let list = document.querySelectorAll('.navigation li');
		function activeLink(){
			list.forEach((item) =>
			item.classList.remove('amfcode'));
			this.classList.add('amfcode')
		}
		list.forEach((item) =>
			item.addEventListener('mouseover',activeLink))
	</script>
	<script type="text/javascript">
    window.onload = function() { jam(); }
   
    function jam() {
     var e = document.getElementById('jam'),
     d = new Date(), h, m, s;
     h = d.getHours();
     m = set(d.getMinutes());
     s = set(d.getSeconds());
   
     e.innerHTML = h +':'+ m +':'+ s;
   
     setTimeout('jam()', 1000);
    }
   
    function set(e) {
     e = e < 10 ? '0'+ e : e;
     return e;
    }
   </script>
   <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
  
    <script>
        /* Add "https://api.ipify.org?format=json" statement
           this will communicate with the ipify servers in
           order to retrieve the IP address $.getJSON will
           load JSON-encoded data from the server using a
           GET HTTP request */
  
        $.getJSON("https://api.ipify.org?format=json",
                                          function(data) {
  
            // Setting text of element P with id ip
            $("#ip").html(data.ip);
        })
    </script>
	<script>
var n = localStorage.getItem('on_load_counter');

if (n === null) {
  n = 0;
}
n++;

localStorage.setItem("on_load_counter", n);

nums = n.toString().split('').map(Number);
document.getElementById('visit').innerHTML = '';
for (var i of nums) {
  document.getElementById('visit').innerHTML += '<span class="counter-item">' + i + '</span>';
}

</script>
</body>
</html>
