<!--
|=======================================|
| NAME: EXAMPLE API                     |
| VERSION: 0.0.1                        |
| CREATOR: AMIRUL DEV                   |
| WEB: WWW.AMIRULDEV.NET                |
| TEMPLATE BY: MBAH AGUS                |
|=======================================|
TEMPLATE NYA UNTUK DOKUMENTASI API DISINI
GAN, CUKUP HTML AJA. UNTUK YANG OTOMATIS
TINGGAL SET" TIDAK KUPUBLIKASI
NITIP NAMA DONG KALAU ENTE MAU BUAT API
-->
<html>
<head>
<title>AMFCODE</title>
<center>
<h1><b>EXAMPLE REST API</b></h1><br>
<a href="docs.html"><h4>Documentasi</h4></a>
2021 © WWW.AMIRULDEV.NET
</center>
</html>
